/*Style product,add_product*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html body {
    background-color: white;
}

/*Xu ly header*/
.header {
    background-color: rgb(59, 57, 57);
    padding: 1px 50px;
    height: 63px;
}

.header_product_frame {
    display: flex;
    width: 60%;
}

.header_product_frame .add_product,
.header_product_frame .product,
.header_product_frame .fixed_product {
    width: 25%;
}

.header_product_frame .home {
    width: 10%;
}

.add_product {
    padding: 20px 5px;
    margin-left: 10px;
}

.product {
    padding: 20px 20px;
}

.add_product h3 a,
.product h3 a,
.fixed_product h3 a {
    text-decoration: none;
    color: white;
}

.add_product h3,
.product h3,
.fixed_product h3 {
    text-align: center;
}

.fixed_product {
    padding: 20px 20px;
}

.header .home img {
    text-decoration: none;
    height: 50px;
    width: 45px;
}

/*Ket thuc header*/

/*Xu ly product*/
.manager_product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.manager_frame h3 {
    text-align: center;
    padding: 10px 10px;
}

table {
    width: 95%;
    border-collapse: collapse;
}

table thead tr th {
    background-color: gray;
    padding: 5px;
    border: 1px solid black;
    font-size: 17px;
}

table tbody tr td {
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    font-size: 16px;
}

.manager_product ul li {
    list-style: none;
    font-size: 17px;
}

/*Ket thuc product

/*Xu ly add_product*/
.title_product h3 {
    text-align: center;
    padding: 10px 10px;
}

.add_product_frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_product_frame form {
    border: 2px solid black;
    width: 42%;
    padding: 10px;
}

.add_product_frame form label {
    font-size: 17px;
    padding: 15px;
}

.add_product_frame .form-group {
    margin-bottom: auto;
}

.add_product_frame .form-group label {
    display: block;
    font-weight: bold;
}

.add_product_frame .form-group input {
    display: block;
    width: 600px;
    height: 50px;
    padding: 10px;
}

.add_product_frame button {
    padding: 10px;
    margin-top: 10px;
    margin-left: 260px;
    border-radius: 30px;
    background-color: rgb(209, 212, 199);
    cursor: pointer;
    border: none;
}
.add_product_frame button:hover {
    background-color: tomato;
}
.unknown {
    height: 50px;
}
/*Ket thuc add_product*/